<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Navbar -->
<div th:fragment="header">

    <nav class="navbar">
        <div class="container">
            <!-- Logo (lado izquierdo) -->
            <a class="navbar-brand" href="/administrador">
                <img src="/imagenes/logonsf.png" alt="Logo">
            </a>

            <!-- Buscador (centro) -->
            <form class="form-inline" method="post" action="#">
                <input class="form-control" type="search" placeholder="Buscar producto" aria-label="Search" name="nombre" autocomplete="off">
                <button class="btn" type="submit">
                    <i class="fas fa-search"></i> <!-- Ícono de la lupa -->
                </button>
            </form>

            <!-- Íconos (lado derecho) -->
            <div class="d-flex">
                <ul>
                    <li>
                        <!-- Checkbox oculto para controlar el dropdown -->
                        <input type="checkbox" id="admin-toggle" class="dropdown-checkbox">
                        <!-- Label que actúa como botón -->
                        <label for="admin-toggle" class="dropbtn">Admin ▼ </label>
                        <!-- Menú desplegable -->
                        <ul class="dropdown">
                            <li><a href="/productos">Producto</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>


<!-- Footer -->
<div th:fragment="footer">
    <footer class="py-5 bg-dark">
        <div class="containerfooter">
            <p class="m-0 text-center text-white">Copyright &copy; UNSAFE SHOP 2024</p>
        </div>
        <!-- /.container -->
    </footer>

</div>

